<% layout('./layouts/Boilerplate') %>
<body>
  <div class="container">
    <h2>Add a new Listing</h2>
    <form action="/" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="title"
          id="title"
          value="Cozy Beachfront Cottage"
          placeholder="Enter title"
          required
        />
        <div class="invalid-feedback">Invalid Title!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <input
          class="form-control"
          type="text"
          name="description"
          value="Escape to this charming beachfront cottage for a relaxing getaway. Enjoy stunning ocean views and easy access to the beach."
          id="description"
          placeholder="Enter description"
          required
        />
        <div class="invalid-feedback">Invalid Description!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="image">Upload Image</label>
        <input
          class="form-control"
          type="file"
          name="imageFile"
          id="image"
          placeholder="Enter image"
          required
        />
        <div class="invalid-feedback">Invalid Image!</div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label" for="price">Price</label>
          <input
            class="form-control"
            type="text"
            name="price"
            value="1500"
            id="price"
            placeholder="Enter price"
            required
          />
          <div class="invalid-feedback">Invalid Price!</div>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label" for="location">Location</label>
          <input
            class="form-control"
            type="text"
            value="Malibu"
            name="location"
            id="location"
            placeholder="Enter location"
            required
          />
          <div class="invalid-feedback">Invalid Location!</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="country">Country</label>
        <input
          class="form-control"
          type="text"
          name="country"
          id="country"
          placeholder="Enter country"
          value="United States"
          required
        />
        <div class="invalid-feedback">Invalid Country!</div>
      </div>

      <button class="btn btn-primary">Add</button>
    </form>
  </div>
</body>
<!-- 
<body>
    <h2>Add a new Listing</h2>
    <form action="/listings" method="POST" >
        <label class="form-label" for="title">title</label>
        <input class="form-control" type="text" value="Modern Loft in Downtow" name="title" id="title" placeholder="Enter title" >
        <br>
        <label class="form-label" for="description">description</label>
        <input class="form-control" type="text" value="Stay in the heart of the city in this stylish loft apartment. Perfect for urban explorers!" name="description" id="description" placeholder="Enter description" >
        <br>
        <label class="form-label" for="image">image</label>
        <input class="form-control" type="text" value="https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60" name="image" id="image" placeholder="Enter image" >
        <br>
        <label class="form-label" for="price">price</label>
        <input class="form-control" type="text" value="1200" name="price" id="price" placeholder="Enter price" >
        <br>
        <label class="form-label" for="location">location</label>
        <input class="form-control" type="text" value="New York City" name="location" id="location" placeholder="Enter location" >
        <br>
        <label class="form-label" for="country">country</label>
        <input class="form-control" type="text" value="United States" name="country" id="country" placeholder="Enter country" >
        <br>
        <button class="btn btn-primary" >Add</button>
    </form>
</body> -->
