<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust | Add a new Listing</title>
</head>
<body>
    <h2>Add a new Listing</h2>
    <form action="/listings" method="POST" >
        <label for="title">title</label>
        <input type="text" value="testTitle" name="title" id="title" placeholder="Enter title" >
        <br>
        <label for="description">description</label>
        <input type="text" value="testDescription" name="description" id="description" placeholder="Enter description" >
        <br>
        <label for="image">image</label>
        <input type="text" value="testImage" name="image" id="image" placeholder="Enter image" >
        <br>
        <label for="price">price</label>
        <input type="text" value="100000" name="price" id="price" placeholder="Enter price" >
        <br>
        <label for="location">location</label>
        <input type="text" value="testLocation" name="location" id="location" placeholder="Enter location" >
        <br>
        <label for="country">country</label>
        <input type="text" value="testCountry" name="country" id="country" placeholder="Enter country" >
        <br>
        <button>Add</button>
    </form>
</body>
</html>